.App {
  text-align: center;
}

.card {
  width: 95vw;
  border-style: none;
}

li {
  width: 500px;
  height: auto;
  padding: 20px 15px;
  list-style-type: none;
  margin-right: 40px;
  background: #b3b3ed;
  margin: 10px 20px;
}

.li:hover {
  background: #b3b3eddd;
}

.content {
  background: #7676bb;
}

h1 {
  width: 350px;
  display: block;
  margin: 0px 120px;
  padding: 15px 10px;
  font-size: 3.5em;
}

button {
  width: 100px;
  height: 30px;
  font-size: 1em;
  border-style: none;
  border-radius: 15px;
  cursor: pointer;
}